/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Fira+Sans&display=swap');


body  {
  margin: 0;
  background-color: #F7F7F7;
  font-family: 'Fira Sans', sans-serif;
}

/* h1, h2, h3, h4, h5, h6, legend, button, input, textarea {
  font-family: 'Cardo', serif, sans-serif;
} */

h1, h2, h3, h4, h5, h6, legend, button {
  font-family: 'Cormorant Garamond', serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 3rem;
}

.app .error h2 {
  text-align: center;
}

.app .boxes {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.input, .output {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
  margin: 1px;
}

form > * {
  margin: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div , .output > div {
  display: flex;
  flex-direction: column;
}

form textarea {
  padding: 10px 20px;
  width: 350px;
  min-height: 100px;
  max-width: 80vw;
}

#data, #data1 {
  width: 220px;
}

.output .select {
  margin: 1rem;
}

.output .result {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.output .result p {
  margin: 0;
}

.output .text {
  border: 1px solid black;
  border-radius: 3px;
  width: 350px;
  min-height: 100px;
  padding: 10px 20px;
  max-width: 80vw;
  background-color: #E7E7E7;
}

.output .text:hover {
  cursor: text;
}

.submit-button {
  margin: 20px auto;
}

.submit-button button {
  border: 1px solid lightgray;
  border-radius: 15px;
  margin: auto;
  padding: 5px 20px;
  color: white;
  background-color: #0ba6ff;
  font-size: 1.2rem;
  transition: background-color 0.35s;
}

.submit-button button:hover {
  cursor: pointer;
  background-color: #0087d5;
}

.error {
  color: red;
}
